<div class="banner-container">
  <div class="banner-side" class="banner-left">
    <a href="/" class="no-style"><img class="nbn-banner-logo" src={{asset "images/nbn-banner-logo.png"}}></a>
    <div class="head-and-nav">
      <h1 class="nbn-head"><a href="/" class="no-style"> North by Northwestern </a></h1>
      <div class="site-nav">
        <h3 class="menu">Latest</h3>
        <h3 class="menu">Sections</h3>
        <h3 class="menu">Multimedia</h3>
        <h3 class="menu">Magazine</h3>
        <h3 class="menu">Contact Us</h3>
      </div>
    </div>
  </div>
  <div class="banner-side" class="banner-right">
    <a href="" class="social-media-link"><img class="nbn-social-media-icon" src={{asset "images/social-media/twitter.png"}}></a>
    <a href="" class="social-media-link"><img class="nbn-social-media-icon" src={{asset "images/social-media/instagram.png"}}></a>
    <a href="" class="social-media-link"><img class="nbn-social-media-icon" src={{asset "images/social-media/facebook.png"}}></a>
  </div>
</div>
