<div class="banner-container">
  <div class="banner-side" class="banner-left">
    <img class="nbn-banner-logo" src="./../assets/images/nbn-banner-logo.png">
    <div class="head-and-nav">
      <h1 class="nbn-head"> North by Northwestern </h1>
      <div class="site-nav">
        <h3 class="menu">Latest</h3>
        <h3 class="menu">Sections</h3>
        <h3 class="menu">Multimedia</h3>
        <h3 class="menu">Magazine</h3>
        <h3 class="menu">Contact Us</h3>
      </div>
    </div>
  </div>
  <div class="banner-side" class="banner-right">
    <a href="" class="social-media-link"><img class="nbn-social-media-icon" src="./../assets/images/social-media/twitter.png"></a>
    <a href="" class="social-media-link"><img class="nbn-social-media-icon" src="./../assets/images/social-media/instagram.png"></a>
    <a href="" class="social-media-link"><img class="nbn-social-media-icon" src="./../assets/images/social-media/facebook.png"></a>
  </div>
</div>
