<div class="banner-side banner-left">
  <a  href="/" class="no-style">
    {{> "svg-logo"}}
  </a>
  <div class="head-and-nav">
    <h1 class="nbn-head"><a  href="/" class="no-style"> North by Northwestern </a></h1>
    <div class="site-nav">
      <h3 class="section"><a  href="/tag/news" class="no-style">News</a></h3>
      <h3 class="section"><a  href="/tag/politics" class="no-style">Politics</a></h3>
      <h3 class="section"><a  href="/tag/life-style" class="no-style">Life/Style</a></h3>
      <h3 class="section"><a  href="/tag/entertainment" class="no-style">Entertainment</a></h3>
      <h3 class="section"><a  href="/tag/sports" class="no-style">Sports</a></h3>
      <h3 class="section"><a  href="/tag/science-tech" class="no-style">Science/Tech</a></h3>
      <h3 class="section"><a  href="/tag/features" class="no-style">Features</a></h3>
      <h3 class="section"><a  href="/tag/opinion" class="no-style">Opinion</a></h3>
      <h3 class="section"><a  href="/tag/creative-writing" class="no-style">Creative Writing</a></h3>
      <div class="dropdown">
        <div class="dropbtn-multimedia"><h3 class="section">Multimedia</h3></div>
        <div class="dropdown-content">
          <h3 class="section"><a  href="/tag/audio" class="no-style">Audio</a></h3>
          <h3 class="section"><a  href="/tag/photo" class="no-style">Photo</a></h3>
          <h3 class="section"><a  href="/tag/video" class="no-style">Video</a></h3>
        </div>
      </div>
      <!-- <h3 class="section"><a  href="/tag/multimedia" class="no-style">Multimedia</a></h3> -->
      <h3 class="section"><a  href="/winter-2019-magazine" class="no-style">Magazine</a></h3>
    </div>
  </div>
</div>
<div class="banner-side banner-right">
  <a  href="https://twitter.com/nbn_tweets?lang=en" class="social-media-link" >
    {{> "svg-twitter"}}
  </a>
  <a  href="https://www.instagram.com/northbynorthwestern/?hl=en" class="social-media-link" >
    {{> "svg-instagram"}}
  </a>
  <a  href="https://www.facebook.com/northbynorthwestern/" class="social-media-link" >
    {{> "svg-facebook"}}
  </a>
  <a  href="https://www.facebook.com/northbynorthwestern/" class="social-media-link" >
    {{> "svg-rss"}}
  </a>
  <div class="collapsed-sections-nav">
    <div class="dropdown">
    <div class="dropbtn">{{> "svg-menu"}}</div>
    <div class="dropdown-content">
      <h3 class="section"><a  href="/tag/news" class="no-style">News</a></h3>
      <h3 class="section"><a  href="/tag/politics" class="no-style">Politics</a></h3>
      <h3 class="section"><a  href="/tag/life-style" class="no-style">Life/Style</a></h3>
      <h3 class="section"><a  href="/tag/entertainment" class="no-style">Entertainment</a></h3>
      <h3 class="section"><a  href="/tag/sports" class="no-style">Sports</a></h3>
      <h3 class="section"><a  href="/tag/science-tech" class="no-style">Science/Tech</a></h3>
      <h3 class="section"><a  href="/tag/features" class="no-style">Features</a></h3>
      <h3 class="section"><a  href="/tag/opinion" class="no-style">Opinion</a></h3>
      <h3 class="section"><a  href="/tag/audio" class="no-style">Audio</a></h3>
      <h3 class="section"><a  href="/tag/photo" class="no-style">Photo</a></h3>
      <h3 class="section"><a  href="/tag/video" class="no-style">Video</a></h3>
      <h3 class="section"><a  href="/tag/creative-writing" class="no-style">Creative Writing</a></h3>
      <h3 class="section"><a  href="/winter-2019-magazine" class="no-style">Magazine</a></h3>
      <h3 class="section"><a  href="/contact" class="no-style">Contact Us</a></h3>
    </div>
  </div>
  </div>
</div>
