<div class="footer-container">
  <div class="footer-menu-left">
    <h3 class="section"><a href="/about" class="no-style">About</a></h3>
    <h3 class="section"><a href="/contact" class="no-style">Contact</a></h3>
    <h3 class="section"><a href="/awards" class="no-style">Awards</a></h3>
    <h3 class="section"><a href="/subscribe" class="no-style">Subscribe</a></h3>
    <h3 class="section"><a href="/donate" class="no-style">Donate</a></h3>
    <h3 class="section"><a href="/tag/magazine" class="no-style">Magazine</a></h3>
  </div>
  <div class="footer-copy-right">
    <p class="footer-info"> Use of this site constitutes acceptance of our User Agreement. North by Northwestern,
      NFP is an Illinois not-for-profit corporation. </p>
    <p class="footer-info footer-copyright"> &copy; 2019 North by Northwestern </p>
  </div>
</div>
