<!-- <div class="footer-all"> -->

  <!-- <div class="footer-wrapper"> -->
    <!-- <img class="nbn-banner-logo" src="./../assets/images/nbn-banner-logo.png"> -->
    <div class="footer-column">
      <p class="footer"> hold </p>
    </div>
    <div class="footer-column">
      <p class="footer"> boop </p>
    </div>
    <div class="footer-column">
      <p class="footer"> bop </p>
    </div>
    <!-- <div class="banner-side" class="banner-right">
      <a href="" class="social-media-link"><img class="nbn-social-media-icon" src="./../assets/images/social-media/twitter.png"></a>
      <a href="" class="social-media-link"><img class="nbn-social-media-icon" src="./../assets/images/social-media/instagram.png"></a>
      <a href="" class="social-media-link"><img class="nbn-social-media-icon" src="./../assets/images/social-media/facebook.png"></a>
    </div> -->
  <!-- </div> -->
<!-- </div> -->
