<div class="feature-card-container-wrapper">
  <img src="./../assets/images/front-feature.jpg" class="feature-photo">
  <div class="feature-headline">
    <h1 class="title"> 4th and 1 stop clinches Northwestern upset of #20 Michigan State </h1>
    <h3 class="byline"><a href="">Shreyas Iyer,</a> Sports Writer </h3>
    <h3 class="date"> 10/07/18 6:22 p.m. </h3
  </div>
</div>
