<div class="nav-sidebar-sections-container">
  <h4 class="nav-sidebar-sections">
    {{^has tag="magazine"}}
      <a  href="{{url}}" class="no-style">{{name}}</a>
    {{else}}
      <div></div>
    {{/has}}
  </h4>
</div>
