<div class="article-page">
  <div class="nav-sidebar">
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">News</h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">Politics</h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">Features</h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">Life & Style</h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">Entertainment</h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">Science & Tech</h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">Sports</h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">Opinion</h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">Creative Writing</h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">Video</h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">Photo</h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">Audio</h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">Magazine</h4>
    </div>
  </div>
