<div class="article-page">
  <div class="nav-sidebar">
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/tag/news" class="no-style">News</a>
      </h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/tag/politics" class="no-style">Politics</a>
      </h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/tag/features" class="no-style">Features</a>
      </h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/tag/life-and-style" class="no-style">Life & Style</a>
      </h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/tag/entertainment" class="no-style">Entertainment</a>
      </h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/tag/science-and-tech" class="no-style">Science & Tech</a>
      </h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/tag/sports" class="no-style">Sports</a>
      </h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/tag/opinion" class="no-style">Opinion</a>
      </h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/tag/writing" class="no-style">Writing</a>
      </h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/tag/video" class="no-style">Video</a>
      </h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/tag/photo" class="no-style">Photo</a>
      </h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/tag/audio" class="no-style">Audio</a>
      </h4>
    </div>
    <div class="nav-sidebar-sections-container">
      <h4 class="nav-sidebar-sections">
        <a href="/magazine" class="no-style">magazine</a>
      </h4>
    </div>
  </div>
