<div class="related-content-sidebar">
  {{> "front-page-post-card"}}
  {{#author}}
  {{!-- Everything inside the #author tags pulls data from the author --}}
    <h1> hey </h1>
  {{/author}}
  <img src="./../assets/images/author-stories.png" width="100%">
</div>
