<html style="height: fit-content; width: fit-content;">
  <body style="margin: 0px; height: fit-content; width: fit-content;">
    {{#post}}
      <a href="{{excerpt}}"><img src="{{feature_image}}" class="feature-photo"></a>
    {{/post}}
  </body>
</html>
