<!DOCTYPE html>
<html lang="en">
  <head>
    {{ghost_head}}
  </head>

  <body class="embed-body" style="margin: 0px;">
    {{#post}}
      {{content}}
    {{/post}}
    <footer>
      {{ghost_foot}}
    </footer>
  </body>
</html>
