{{!< default}}
<header>
  <div class="banner-container">
    {{> "banner" }}
  </div>
  <!-- <div class="section-block-divider banner-divider"> </div> -->
</header>

<div>
  {{#get "posts" filter="featured:true" limit="1" include="authors"}}
    {{#posts}}
      {{> "front-page-feature-card"}}
    {{/posts}}
  {{/get}}
</div>

<div class="front-page-bottom">

  <div class="latest-posts-container">
    <div class="section-block-header">
      <h3 class="section-name"><a href="/latest">Latest</a></h3>
    </div>
    <div class="section-block-divider latest-posts-divider"></div>
    {{#get "posts" include="authors"}}
      {{#foreach posts}}
        {{> "latest-post-card"}}
      {{/foreach}}
    {{/get}}
  </div>

  <div class="all-section-blocks">
    {{#get "tags" limit="all"}}
      {{#foreach tags}}
        {{> "front-page-section-block"}}
      {{/foreach}}
    {{/get}}
  </div>
</div>
