{{!< default}}
<header>
  <div class="banner-container">
    {{> "banner" }}
  </div>
  <!-- <div class="section-block-divider banner-divider"> </div> -->
</header>

<div>
  {{#get "posts" filter="featured:true" limit="1" include="authors"}}
    {{#posts}}
      {{> "front-page-feature-card"}}
    {{/posts}}
  {{/get}}
</div>

<div class="front-page-bottom">

  <div class="latest-posts-container">
    <div class="section-block-header">
      <h3 class="section-name"><a href="/latest">Latest</a></h3>
    </div>
    <div class="section-block-divider latest-posts-divider"></div>
    {{#get "posts" include="authors"}}
      {{#foreach posts limit="5"}}
        {{> "latest-post-card"}}
      {{/foreach}}
    {{/get}}
    <div class="sidebar-ad">
      {{#get "posts" id="5c76b1581f54796aac6f299c" as |post|}}
        {{#post}}
          {{#if feature_image}}
            <a href={{excerpt}}><img src="{{feature_image}}" class="feature-photo"></a>
          {{/if}}
        {{/post}}
      {{/get}}
    </div>
  </div>

  <div class="all-section-blocks">

    <div id="horizontal-latest-posts" class="section-block">
      <div class="section-block-header">
        <h3 class="section-name">Latest</h3>
      </div>
      <div class="section-block-divider"></div>
      <div class="section-posts">
        {{#get "posts" include="authors"}}
          {{#foreach posts limit="5"}}
            {{> "front-page-post-card"}}
          {{/foreach}}
        {{/get}}
      </div>
    </div>


    {{#get "tags" limit="all"}}
      {{#foreach tags}}
        {{> "front-page-section-block"}}
      {{/foreach}}
    {{/get}}
  </div>
</div>
