{{!< default}}

<div>
  {{#foreach posts}}
    {{#if featured}}
      {{> "front-page-feature-card"}}
    {{/if}}
  {{/foreach}}
</div>

<div class="post-card-container-wrapper">
  <h1 class="post-card-container-title"> What's up? </h1>
  <div class="post-card-container">
    {{#foreach posts limit="4"}}
      {{#unless featured}}
        <div class="whats-up-post-card">
          {{> "front-page-post-card"}}
        </div>
      {{/unless}}
    {{/foreach}}
  </div>
  <h3 class="post-card-more"><a href='/latest' class="post-card-more-link">More</a></h3>
</div>

<div class="all-section-blocks">
  {{#get "tags" limit="all"}}
    {{#foreach tags}}
      {{> "front-page-section-block"}}
    {{/foreach}}
  {{/get}}
</div>
