{{!< default}}

<div>
  {{#get "posts" filter="featured:true" limit="1" include="authors"}}
    {{#posts}}
      {{> "front-page-feature-card"}}
    {{/posts}}
  {{/get}}
</div>

<div class="all-section-blocks">
  {{#get "tags" limit="all"}}
    {{#foreach tags}}
      {{> "front-page-section-block"}}
    {{/foreach}}
  {{/get}}
</div>
