{{!< default}}

<div class="post-card-container-wrapper">
  <h1 class="post-card-container-title"> What's up? </h1>
  <div class="post-card-container">
    {{#foreach posts limit="2"}}
      <a href="{{url}}" class="no-style">
        {{> "front-page-post-card"}}
        <p>HEY </p>
      </a>
    {{/foreach}}
  </div>
</div>
