{{!< default}}

<header>
  <div class="banner-container">
    {{> "banner" }}
  </div>
</header>

<div class="article-page">
  {{#post}}
    <article class="article-post">
        {{> "contact-body"}}
    </article>
  {{/post}}
</div>
