{{!< default}}

<div class="article-sidebar-container">
  <div class="article-sidebar-container">
    <div class="nav-sidebar">
      {{#get "tags" limit="all"}}
        {{#foreach tags}}
          {{> "nav-sidebar-sections" }}
        {{/foreach}}
      {{/get}}
    </div>
  </div>
  {{#post}}
    <article>
      <div class="article-container">
        {{> "contact-body"}}
        <p> In magazine page partial </p>
      </div>
    </article>
  {{/post}}
</div>
