{{!< default}}

<div class="article-page">
  {{#post}}
    <article class="article-post">
      <div class="article-container">
        {{> "article-body"}}
      </div>
    </article>
  {{/post}}
</div>
