{{!< default}}

<header>
  <div class="banner-container">
    {{> "banner" }}
  </div>
  <!-- <div class="section-block-divider banner-divider"> </div> -->
</header>

<div class="article-page">
  {{#post}}
    <article class="article-post">
      {{> "article-body"}}
    </article>
  {{/post}}
</div>
