{{!< default}}

<header>
  <div class="banner-container">
    {{> "banner" }}
  </div>
</header>

<div class="magazine-container">

  <iframe width="100%" height="100%" frameborder="0"
  src="{{tag.description}}" />
</div>

{{!--
{{#post}} {{id}} {{/post}}

{{#get posts tag="magazine"}}
  {{#foreach post}}
    {{> "magazine-card"}}
  {{/foreach}}
{{/get}}
--}}
