{{!< default}}

<header>
  <div class="banner-container">
    {{> "banner" }}
  </div>
</header>

<div class="section-page">
{{#tag}}
  <div class="section-info">
    <h1 class="section-name">{{name}}</h1>
  </div>

  <div class="section-post-cards-all">
    {{#get "posts" filter="tag:{{slug}}" include="authors" limit="all"}}
      {{#foreach posts}}
        <div class="section-post-card">
          {{> "info-page-post-card"}}
        </div>
      {{/foreach}}
    {{/get}}
  </div>
{{/tag}}
</div>
