{{!< default}}

<header>
  <div class="banner-container">
    {{> "banner" }}
  </div>
</header>

<div class="section-page">
{{#tag}}
  <div class="section-info">
    <h1 class="section-name">{{name}}</h1>
  </div>
{{/tag}}
  <div class="section-post-cards-all">
    {{#foreach posts limit="all"}}
      <div class="section-post-card">
        {{> "info-page-post-card"}}
      </div>
    {{/foreach}}
  </div>
</div>
